<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../public/stylesheets/style.css">
</head>
<body>
<div class="header">
    <div class="logo">
        <a class="logo_name"  href="/">Cry's Blog
            <small>Do one thing at a time, and do well</small>
        </a>
    </div>
</div>
<div class="reg">
    <form action="">
        <input type="text" id="userName"/>
        <input type="text" id="passport"/>
        <button id="regSbmt">确定</button>
    </form>
</div>
<div class="footer"></div>
</body>
</html>