<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <div class="logo">
        <a class="logo_name"  href="/">Cry's Blog
            <small>Do one thing at a time, and do well</small>
        </a>
    </div>
</header>
<div class="section">
    <h2><%= title %></h2>
    <span><%= time %></span>
    <div><%= content %></div>
</div>
<div class="footer"></div>
</body>
</html>