<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>

    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
<header>
    <div class="logo">
        <a class="logo_name"  href="/">Cry's Blog
            <small>Do one thing at a time, and do well</small>
        </a>
    </div>
    <div id="user">
        <i class="iconfont icon-denglu"></i>

        <a href="http://localhost:3000/login" id="loginBtn" class="a">登录</a>

    </div>
</header>
    <form action="http://localhost:3000/diary" class="write_blog" id="writeForm" onsubmit="return checkSubmit()">
        <div>
            <input type="text" class="write_title_ipt write_ipt" id="title" placeholder="标题" />
        </div>
        <div>
            <textarea  class="write_content_ipt write_ipt" id="content"></textarea>
        </div>
        <div>
            <button id="blgSbmt">提交</button>
        </div>
    </form>
    <div class="footer"></div>
    <script src="http://lib.sinaapp.com/js/jquery/1.9.1/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="/javascripts/write.js" type="text/javascript"></script>
</body>
</html>